{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/yoyakudel.css' %}" />
<p>{{room}}</p>
<p>{{date}}</p>
<p>{{time}}</p>
<p>{{genre}}</p>
<p>{{charge}}</p>


<div id="p1">
	<p>予約を取り消しますか?</p>
	<form action="{% url 'umbrella_system:yoyaku_del_go'%}" method="post">
		{% csrf_token %}
			<input type="hidden" name="date" value="{{date}}" />
            <input type="hidden" name="time" value="{{time}}" />
            <input type="hidden" name="room" value="{{room}}" />
		<input type="submit" value="はい">
	</form>
	<button onclick="location.href='../../../../{{date}}/date'">いいえ</button>
</div>
