{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/yoyakudel.css' %}" />
{{cal.year}}
{{cal.month}}
{% for day in days %}
<table  border =1 class="waku1">
 <tr><td></td><td colspan={{day.time_seet|length}}>{{day.day}}日</td></tr>
 <tr><td></td><td colspan={{day.time_seet|length}}>{{day.weekday}}</td></tr>
 <tr><td></td>
	 {% for time in day.time_seet %}
	 	<td>{{time}}</td>
	 {%endfor%}
 </tr>
	{% for room in day.rooms %}
 	<tr>
		<td>{{room.room_name}}</td>
		{% for wari in room.wari %}
			{% if wari.user %}
            	<td>{{wari.user}}</br>{{wari.genre}}</br></td>
			{% else %}
				<td></td>
			{% endif %}
		{%endfor%}
	</tr>
	{%endfor%}
</table>
{%endfor%}
